<div class="d-flex ">
    <div class="productCard">
        <div class="productImage">
          <img [src]="product.imgUrl" alt="Product image" onError="this.src='../../assets/images/default.jpg'">
        </div>
        <div class="description">
          <div class="labels">
            <h4 class="productTitle" >{{product.title}}</h4>
            <p class="productDescription">{{product.description}}</p>
            <h4 class="productCategory">{{product.category}}</h4>
            <p class="productIngredients">{{product.ingredients}}</p>
          </div>
        </div>
      </div>
</div>